@media screen and (max-width:1225px){
    .best__practice__img-wrap>:first-child{
        display: none;
    }
}

@media screen and (max-width:880px){
    .main__logo-img {
        width: 33.33%;
    }
    .best__practice-items {
        justify-content: center;
    }
}

@media screen and (max-width:820px) {
    .main__block-row >:not(:first-child){
        display: none;
    }
}

@media screen and (max-width:800px) {
    .best__practice-title{
        padding-top: 0px;
    }

    .best__practice__img-wrap>:nth-child(2){
        display: none;
    }

    .best__practice__col {
        width: 100%;
    }

    .menu {
        display: flex;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 90px;
        right: 3px;
        z-index: 10;
        padding: 10px;
        border-radius: 10px;
    }

    .menu :not(:last-child) {
        margin: 0 auto;
    }

    .menu__butter {
        display: block;
    }

    .main__block-row >:first-child{
        width: 100%;
    }

}

@media screen and (min-width:800px) {

    .menu__butter {
        display: none ;
    }

    .menu {
        visibility: visible;
    }
}

@media screen and (max-width:650px) {
    .main__block-text {
        max-width: 400px;
        font-size: 30px;
        line-height: 52px;
    }

    .main__block-desc {
        padding-top: 285px;
    }
}

@media screen and (max-width:380px) {
    .main__block-text {
        font-size: 28px;
        line-height: 35px;
    }
    body {
        max-width: 375px;
    }
}

