@font-face {
    font-family: 'Poppins bold';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins normal';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('./fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Poppins normal", 'Times New Roman', Times, serif ;
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

.wrapper {
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 10px;
}

.menu__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu :not(:last-child) {
    margin-right: 42px;
}

.menu__item-link {
    text-decoration: none;
    color: #323232;
    transition: .3s;
}

.menu__item-link:hover {

    color: #F78434;
}

.main__block-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 50px;
}

.main__block-col {
    width: 50%;
}

.main__image-wrap {
    max-width: 540px;

}

.main__block-image {

    border-radius: 40px 40px 40px 0px;
}

.main__block-text {
    padding-top:  127px;
    font-weight: 700;
    font-size: 54px;
    line-height: 79px;
    letter-spacing: 0.8px;
    position: absolute;
    top:0;
    left:0;
    max-width: 674px;
}

.main__block-desc {
    max-width: 467px;
    padding-bottom: 42px;
    padding-top: 389px;
}

.main__block-wrapper{
    background-image: url("./img/main_img.jpg");
    height: 100vh;
}

.btn {
    padding: 12px 0;
    background-color: #F78434;
    border-radius: 29px;
    color: #FFFFFF;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.btn__postition {
    min-width: 159px;
    position: absolute;
    top: 0;
    right: 0;
}

.main__block-input {
    width: 100%;
    border-radius: 29px;
    box-shadow: 0px 17px 42px rgba(0, 0, 0, 0.12);
    padding-top: 16px;
    padding-bottom: 16px;
    display: inline-block;

}

.main__block-email-wrapper {
    max-width: 459px;
    position: relative;
    top: 0;
    left: 0;
}
.menu__butter {
    display: none;
    position: relative;
    top: 0;
    left: 0;

}

.menu__butter__line {
    
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 10px;
    
}

.menu__butter__line:not(:last-child){
    margin-bottom: 7px;
}

.best__practice {
    padding-bottom: 145px;
}

.best__practice-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 90px;
}

.best__practice-title {
    padding-top: 68px;
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: 0.8px;
   
}

.best__practice-wrapper {
    margin: 0 auto;
    max-width: 374px;
}

.best__practice-txt {
    padding-top: 20px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1.15px;
}

.best__practice__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.best__practice__row>:first-child {
    flex-shrink: 0;
}

.best__practice__col {
    width: 50%;
}

.best__practice__img-wrap{
    display: flex;
    flex-wrap: nowrap;
}

.best__practice__img-wrap img:nth-of-type(1){
    margin-right: 33px;
}

.best__practice-cpation {
    padding-bottom: 40px;
}

.best__practice-button-wrapper {
    max-width: 172px;
}

.best__practice-button {
   width:100%;
}

.using_our_product__background {
    background: url("../img/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
    border-radius: 10px;
}

.block {
    padding-top: 92px;
    padding-left: 58%;
    padding-bottom: 92px;
}

.using_our_product-title {
    font-weight: 700;
    font-size: 42px;
    line-height: 62px;
    letter-spacing: 0.8px;
    margin-bottom: 20px;
    max-width: 342px;
    
}

.using_our_product-caption {
    margin-bottom: 30px;
    max-width: 342px;
}

.contact, .watch_now {
    min-width: 172px;
}

.watch_now {
    background-color: #fff;
    color:#F78434;
}
/*************************************************************************************************************************/
.dd {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 30px;
    max-width: 300px;
    position: absolute;
    bottom: 10%;
    right: 6%;
    background-color: #fff;
    border-radius: 10px;
}

.dd-image {
    max-width: 45px;
}